<!DOCTYPE html>
<html>
{% block header %}
<head>
<title>Welcome to my site friend</title>
</head>
{% endblock%}
{% block body %}
 <body>
 hello
 </body>
{% endblock%}
{% block footer %}
{% endblock%}
</html>
