<footer class="{% block footerClass 'site-footer' %}">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="container">
                <br>
                <p>&copy; Andrey Lukashenko</p>
                <p>Geekhub PHP 2016</p>
            </div>
        </div>
    </div>
</footer>
