{% extends 'base.html.twig' %}

{% block main %}

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}
    <button type="submit" class="_submit">{{ 'site.new_word.save'|trans }}</button>
    {{ form_end(form) }}

{% endblock main %}
