<ul class="nav navbar-nav navbar-right navbar-top-links">
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                <i class="glyphicon glyphicon-user"></i> <i class="caret"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="#"><i class="glyphicon glyphicon-user"></i> My Profile</a></li>
                <li><a href="{{ path('wishlist_show', {'id': app.user.wishlist.id}) }}"><i class="glyphicon glyphicon-list"></i> Wishlist</a></li>
                <li class="divider"></li>
                <li><a href="{{ path('logout') }}"><i class="glyphicon glyphicon-log-out"></i> Logout</a></li>
            </ul><!-- /.dropdown-user -->
        </li><!-- /.dropdown -->
    {% else %}
        <li><a href="{{ path('signup') }}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="{{ path('login') }}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    {% endif %}
</ul>
